@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

body {
  text-align: center;
  font-family: 'Spectral SC', serif;
  height: 100%;
  background-color: lavender;
}

p {
  font-size: 2em;
}

#mainContainer {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.XElement {
  font-size: 1.5em;
  cursor: pointer;
  width: 50px;
  height: 50px;
  float: right;
}

li {
  font-size: 1.5em;
  list-style: none;
  width: 80%;
  float: left;
}

input[type='text'] {
  margin-top: 7%;
  margin-bottom: 3%;
  width: 50%;
  text-align: center;
  height: 2.2em;
}

.XElement:hover {
  border-radius: 50% !important;
  background-color: #fef !important;
  font-weight: normal !important;
}

button:hover {
  color: green;
}

li:hover {
  text-shadow: 2px 2px 1px silver;
  cursor: pointer;
}
